$navy: #011f83; //rgba(1, 31, 131, 100)
$black: #3c3733; //rgba(60, 55, 51, 100)
$grey: #616161; //rgba(60, 55, 51, 100)
$medgrey: #DBDBDB; //rgba(219, 219, 219, 100)
$white: #f5f5f5; //rgba(245, 245, 245, 100)
$medblue: #6e95c0; //rgba(110, 149, 192, 100)
$ltblue: #ddf3f4; //rgba(221, 243, 244, 100)
$red: #E75640; 
$ltgrey: #E8E8E8;


body {
	background-color: $white;
	font-family: 'Open Sans', sans-serif;

	.turn-container {
		position: fixed;
		width: 260px;
		margin-left: 40px;
		text-align: center;
	}

	.turn-display {
		color: $navy;
		font-size: 100px;
		transition: all 1s ease;
	}

	h1 {
		font-weight: 500;
		font-size: 30px;
	}

	#gameboard {
		display: block;
		margin: 0 auto;
		width: 600px;
		height: 600px;
		border:1px solid $white;
		color: $grey;
		margin-top: 20px;
		font-family: 'Quicksand', sans-serif, 300;
		
		.winner{
			color: $red;

			animation-name: blinker;
	    animation-duration: .8s;
	    animation-timing-function: linear;
	    animation-iteration-count: infinite;
			
			@keyframes blinker {  
		    0% { opacity: 1.0; }
		    50% { opacity: 0.3; }
		    100% { opacity: 1.0; }
			}
		}
	}
	
	.clear {
	  clear:both;
	  line-height:0;
	  overflow:auto;
	}

	.space {
		text-align:center;
		float:left;
		box-sizing: border-box;
		height: 33.3333%;
		width: 33.333%;
		cursor: pointer;
		padding: 98px 0 0 4px;

		h1 {
			font-size: 200px;
		}

		&:hover{
			background-color: $ltgrey;
		}

		&.space-1 {
			border-bottom: 2px solid $grey;
			border-right: 2px solid $grey;
		}

		&.space-2 {
			border-bottom: 2px solid $grey;
			border-right: 2px solid $grey;
		}

		&.space-3 {
			border-bottom: 2px solid $grey;
		}
		
		&.space-4 {
			border-bottom: 2px solid $grey;
			border-right: 2px solid $grey;
		}
		
		&.space-5 {
			border-bottom: 2px solid $grey;
			border-right: 2px solid $grey;
		}
		
		&.space-6 {
			border-bottom: 2px solid $grey;
		}
		
		&.space-7 {
			border-right: 2px solid $grey;
		}

		&.space-8 {
			border-right: 2px solid $grey;
		}
	}

	.modal {
		display:none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($navy, 0.7);
		transition: opacity 0.2s ease-in-out;
	
	&.modal-welcome {
		display: block;
	}	

		.box {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 600px;
			height: 360px;
			
			margin-left: -300px;
			margin-top: -180px;	
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			
			.content {
				height: 260px;
				background-color: $medgrey;

				.message {
					padding: 30px 0 0 30px;
					font-size: 100px;
					font-weight: 700;
					color: $black;
				}

				.sub-message{
					padding:10px 30px 0 30px;
					font-size: 39px;
					margin-top: 2px;
					font-weight: 300;
					font-style: italic;
					color: $black;
				}
			}		

			.button-area {
				display:table;
				background-color: $black;
				position: absolute;
				height: 100px;
				width: 100%;

				.button {
					display: table-cell;
					vertical-align: middle;
					background-color: $navy;
					width: 200px;
					height: 40px;
					font-size: 16px;
					text-align: center;
					display: block;
					margin: 0 auto;
					margin-top: 25px;
					padding-top: 8px;
					font-weight: 400;
					border-radius: 4px;
					cursor:pointer;

					p {
						margin-top: 7px;
						color: white;
					}

				}
			}
		}
	}

}



