@media (max-width: 600px) {
  .turn-container {
    position: absolute;
  }
  .turn-display {
    font-size: 32px;
  }
}

body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

body .turn-container {
  position: fixed;
  width: 260px;
  margin-left: 40px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  body .turn-container {
    position: relative;
  }
}

body .turn-display {
  opacity: 0;
  color: #011f83;
  font-size: 100px;
  transition: all 0.2s ease;
}

@media screen and (max-width: 400px) {
  body .turn-display {
    font-size: 32px;
  }
}

body h1 {
  font-weight: 500;
  font-size: 30px;
}

body #gameboard {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: 1px solid #f5f5f5;
  color: #616161;
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif, 300;
}

@media screen and (max-width: 400px) {
  body #gameboard {
    width: 320px;
    height: 320px;
  }
}

body #gameboard .winner {
  color: #E75640;
  animation-name: blinker;
  animation-duration: .8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1.0;
  }
}

body .clear {
  clear: both;
  line-height: 0;
  overflow: auto;
}

body .space {
  text-align: center;
  float: left;
  box-sizing: border-box;
  height: 33.3333%;
  width: 33.333%;
  cursor: pointer;
  padding: 98px 0 0 4px;
}

@media screen and (max-width: 400px) {
  body .space {
    padding: 50px 0 0 4px;
  }
}

body .space h1 {
  font-size: 200px;
}

@media screen and (max-width: 400px) {
  body .space h1 {
    font-size: 80px;
  }
}

body .space:hover {
  background-color: #E8E8E8;
}

body .space.space-1 {
  border-bottom: 2px solid #616161;
  border-right: 2px solid #616161;
}

body .space.space-2 {
  border-bottom: 2px solid #616161;
  border-right: 2px solid #616161;
}

body .space.space-3 {
  border-bottom: 2px solid #616161;
}

body .space.space-4 {
  border-bottom: 2px solid #616161;
  border-right: 2px solid #616161;
}

body .space.space-5 {
  border-bottom: 2px solid #616161;
  border-right: 2px solid #616161;
}

body .space.space-6 {
  border-bottom: 2px solid #616161;
}

body .space.space-7 {
  border-right: 2px solid #616161;
}

body .space.space-8 {
  border-right: 2px solid #616161;
}

body .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 31, 131, 0.7);
  transition: opacity 0.2s ease-in-out;
}

body .modal.modal-welcome {
  display: block;
}

body .modal .box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 400px) {
  body .modal .box {
    width: 320px;
    height: 190px;
    margin-left: -180px;
    margin-top: -95px;
  }
}

body .modal .box .content {
  height: 260px;
  background-color: #DBDBDB;
}

@media screen and (max-width: 400px) {
  body .modal .box .content {
    height: 120px;
  }
}

body .modal .box .content .message {
  padding: 15px 0 0 30px;
  font-size: 100px;
  font-weight: 700;
  color: #3c3733;
}

@media screen and (max-width: 400px) {
  body .modal .box .content .message {
    font-size: 32px;
  }
}

body .modal .box .content .sub-message {
  padding: 15px 30px 0 37px;
  font-size: 39px;
  margin-top: 2px;
  font-weight: 300;
  font-style: italic;
  color: #3c3733;
}

@media screen and (max-width: 400px) {
  body .modal .box .content .sub-message {
    font-size: 18px;
  }
}

body .modal .box .button-area {
  display: table;
  background-color: #3c3733;
  position: absolute;
  height: 100px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  body .modal .box .button-area {
    height: 70px;
  }
}

body .modal .box .button-area .button {
  display: table-cell;
  vertical-align: middle;
  background-color: #011f83;
  width: 200px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 8px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

body .modal .box .button-area .button p {
  margin-top: 7px;
  color: white;
}
